.products {
	width: 100%;
}

.products .item img {
	width: 149px;
	height: 149px;

}
.products .grid {
	padding-top: 50px;
    grid-row-gap: 50px;
}

.products .item .item-content .product-img {
	position: relative;
}

.products .item .item-content .product-img:hover .product-img-overlay {
	display: block;
}

.products .item .item-content .product-img .product-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: all .4s ease;
	display: none;
}

.products .sale {
	position: absolute;
	background-color: #ec1d58;
	padding: 5px 8px;
	font-size: 15px;
	color: var(--normal-color);
	font-weight: 600;
	top: 5px;
	right: 10px;
	border-radius: 5px;
}

.products .product-info {
	margin-top: 15px;
}

.products .product-info .product-title  {
	height: 100px;
}

.products .product-info .product-title a {
	color: var(--dark-color);
	font-size: 15px;
	transition: all .3s ease;
}

.products .product-info .product-title a:hover {
	color: var(--main-color);
}

.products .product-info  .product-price {
	margin-top: 10px;
	color: red;
}

.products .product-info .product-cart {
	margin-top: 10px;
}

.products .product-info .product-quick-view  {
	margin-top: 10px;
	text-align: center;
}

.products .product-info .product-quick-view a{
	color: var(--main-color);
	font-size: 18px;
}

.cartBtn {
	width: 100%;
    min-width: auto;
    display: inline-block;
    padding: .375rem .375rem;
    background: 0 0;
    font-size: 12px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 100px;
    font-size: 18px;
    color: var(--normal-color);
}



.filter-error {
	text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid pink;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  text-align: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-link  {
	padding: 16px 0;
}

.page-link .page-link-content {
	display: flex;
}

.page-link .page-link-content div {
	margin: 0 5px;
}

.page-link .page-link-content div a {
	color: var(--dark-color);
	font-weight: 600;
}

.page-link .page-link-content div a:hover {
	color: var(--main-color);
}

.page-link  .page-linkg-heading h1{
	margin-top: 5px;
	font-size: 40px;
}

/*allproducts*/
.filter {
	padding-right: 50px;
	border-right: 1px solid #ccc;
}

.filter .search-box {
	padding-bottom: 30px;
}

.filter .search-box .input-box {
	border: 1px solid #ccc;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

.filter .search-box .input-box input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0 16px;
}


.filter .search {
	border-top: 1px solid #ccc;
	margin-top: 16px;
}


.filter .search h2 {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.filter .search ul {
	margin-top: 10px;
}

.filter .search ul li {
	list-style: none;
	line-height: 40px;
}

.filter .search ul li button {
	border: none;
	outline: none;
	background-color: inherit;
	font-size: 18px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	color: #333;
	transition: all .3s ease;
}

.filter .search .input-box {

	margin-top: 16px;
}

.filter .search .input-box form input {
	width: 100%;
}

.filter .search p {
	font-weight: 600;
	font-size: 16px;
}

.filter .search ul li button:hover {
	cursor: pointer;
	color: var(--main-color);
}



.sort .sort-item {
	display: flex;
	justify-content: space-between;
}

.sort .sort-item .sort-left ul {
	display: flex;
}

.sort .sort-item .sort-left ul li {
	list-style: none;
	padding-right: 20px;
}

.sort .sort-item .sort-left ul li button {
	font-size: 25px;
	background-color: var(--main-color);
	border: none;
	outline: none;
	color: var(--normal-color);
	padding: 5px;
	border-radius: 5px;
}

.sort .sort-item .sort-left ul li button:hover {
	cursor: pointer;
}



.loading {
	display: flex;
	justify-content: center;
}



.all-items {
	padding-bottom: 50px;
}